@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap');
.product-list {
    padding: 20px 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.product-list>ul {
    margin: 0 -10px;
    padding: 0;
    list-style: none;
    display: flex;
}
.product-list>ul>li {
    width: 25%;
    padding: 10px;
}
.white-box {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    padding: 35px 20px;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.wishlist-icon {
    position: absolute;
    right: 12px;
    top: 10px;
}
.wishlist-icon img {
    width: 20px;
    height: 20px;
}
.product-img {
    min-height: 135px;
}
.product-img img {
    max-width: 100%;
    max-height: 130px;
    display: block;
    margin: 0 auto;
}
.product-bottom {
    text-align: center;
}
.product-name {
    font-size: 16px;
    color: #673ab7;
    text-align: center;
    margin: 10px 0 10px;
    font-weight: 600;
    max-height: 48px;
    min-height: 48px;
    overflow: hidden;
}
.price {
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    color: #673ab7;
    font-family: 'Open Sans', sans-serif;
}
.blue-btn {    
	/* background: rgb(18, 59, 148);
    border-radius: 5px;
    color: #ffffff; */
    /* font-weight: 700; */
    /* border: none; */
    /* padding: 0 15px; */
    /* cursor: pointer; */
    /* height: 30px; */
    /* line-height: 30px; */
    max-width: 132px;
    margin: 10px auto 0;
    /* display: block; */
    /* text-align: center;
    text-decoration: none; */
}
.price .line-through {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    vertical-align: 1px;
    display: inline-block;
    text-decoration: line-through;
    margin-left: 4px;
}